<%= form_for @snippet  do |f| %>
  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% @snippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div style="height:40px;">
    <%= f.text_field :title %>
    <%= f.text_field :language%>
</div>
  <div id="editor"><%= @snippet.content %></div>
    <!--<%= f.submit %>-->
    <%= f.hidden_field :content %>
<% end %>
